#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev:after, .swiper-button-next:after{
    display: block;
    min-width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    border: 1px solid rgba(0, 0, 0, 0.422);
    font-size: 11px;
    border-radius: 50%;
    background-color: #dedddd;
    color: black;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    font-weight: 600
  }

  