#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  

  .swiper-button-prev:after, .swiper-button-next:after{
    font-size: 14px;
    font: 700;
    border: .5px solid rgb(236, 234, 234);
    width : 30px; 
    height : 30px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    color: rgba(247, 243, 243, 0.822);
    background-color: rgba(0, 0, 0, 0.434);
  }